<div id="container">
  <div id="graph-container"></div>
</div>
<script>
/**
 * This is an example on how to use sigma locate plugin on a real-world graph.
 */

/**
 * DOM utility function
 */
var $ = function (id) {
  return document.getElementById(id);
};


 var g = {
   nodes: [],
   edges: []
 };

 // Create new Sigma instance in graph-container div (use your div name here)
 s = new sigma({
   graph: g,
   container: 'graph-container',
   renderer: {
	 container: document.getElementById('graph-container'),
	 type: 'canvas'
   },
   settings: {
	 minNodeSize: 8,
	 maxNodeSize: 16
   }
 });
 
sigma.parsers.json(
   '/data',
   s,
   function() {
	 var nodes = s.graph.nodes();
	 for (var i = 0; i < nodes.length; i++) {
	   nodes[i].x = Math.random();
	   nodes[i].y = Math.random();
	   nodes[i].size = nodes[i].size;
	 }

	 s.refresh();
 
	 sigma.layouts.startForceAtlas2(s, {
	   worker: true,
	   autoStop: true,
	   background: true,
	   scaleRatio: 10,
	   gravity: 3,
	   easing: 'cubicInOut'
	 });
 });

s.bind('clickNode', function(e) {
  console.log(e.type, e.data.node.label, e.data.captor, e);
  angular.element.event.trigger({type:"show.person", person: e.data.node});
});
</script>
