<div id="container">
  <div id="graph-container"></div>
</div>
<script>
/**
 * This is an example on how to use sigma locate plugin on a real-world graph.
 */

/**
 * DOM utility function
 */
var $ = function (id) {
  return document.getElementById(id);
};

 var g = {
   nodes: [],
   edges: []
 };

 // Create new Sigma instance in graph-container div (use your div name here)
 s = new sigma({
   graph: g,
   container: 'graph-container',
 });
 
 sigma.parsers.json(
   '/data',
   s,
   function() {
	 var nodes = s.graph.nodes();
	 for (var i = 0; i < nodes.length; i++) {
	   nodes[i].x = 100 * Math.cos(2 * i * Math.PI / nodes.length);
	   nodes[i].y = 100 * Math.sin(2 * i * Math.PI / nodes.length);
	   nodes[i].size = nodes[i].size;
	 }

	 s.refresh();
 
	 sigma.layouts.startForceAtlas2(s, {
       worker: true,
	   autoStop: true,
	   background: true,
	   gravity: 0,
	   easing: 'cubicInOut'
	 });
 });

s.bind('clickNode', function(e) {
  console.log(e.type, e.data.node.label, e.data.captor, e);
  angular.element.event.trigger({type:"show.person", person: e.data.node});
});
</script>
