// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* default blah from linkurious */
body {
  color: #333;
  font-size: 14px;
  font-family: sans-serif;
  background-color: #F5F8FA !important;
}
#graph-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 position: absolute;
margin: 20px;
}
#control-pane {
  top: 10px;
  /*bottom: 10px;*/
  right: 10px;
  position: absolute;
  width: 230px;
  background-color: rgb(249, 247, 237);
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
#control-pane > div {
  margin: 10px;
  overflow-x: auto;
}
.line {
  clear: both;
  display: block;
  width: 100%;
  margin: 0;
  padding: 12px 0 0 0;
  border-bottom: 1px solid #aac789;
  background: transparent;
}
h2, h3, h4 {
  padding: 0;
  font-variant: small-caps;
}
.green {
  color: #437356;
}
h2.underline {
  color: #437356;
  background: #f4f0e4;
  margin: 0;
  border-radius: 2px;
  padding: 8px 12px;
  font-weight: 700;
}
.hidden {
  display: none;
  visibility: hidden;
}

input[type=range] {
  width: 160px;
}


// styles for the personModal
#personModal {
  .modal-dialog {
    .modal-header {
      text-align: center;
    }
    .modal-body {
      .basicInfo {
        height: 250px;
        .picHolder {
          margin-left: 14px;
          margin-right: 14px;
          float: right;
          width: 220px;
          img {
            border-radius: 5px;
            border: 1px solid #aaa;
            height: 200px;
            width: 200px;
            margin-left: 13px;
          }
          .favs, .posts, .followers {
            float: left;
            width: 33%;
            color: #8c9ca9;
          }
        }
        p.summary {
          color: #555;
        }
      }
      .details {
        #posts {
          max-height: 200px;
          overflow-y: auto;
          overflow-x: hidden;
        }
        .tab-pane {
          border: 1px solid #ddd;
          border-top: 0;
          .post {
            padding: 10px;
            &:hover {
              background-color: #f5f8fa;
            }
            p {
              margin-bottom: 0;
            }
            p.date {
              color: #8899a6;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          a:hover {
            text-decoration: none;
          }
          .interest, .taxonomy {
            padding: 4px 6px;
            margin-left: 5px;
            background-color: #ACD1EB;
            border-radius: 5px;
//            border: 2px solid white;//#174566;
            color: black;
            width: 44%;
            margin-top: 4px;
            margin-right: 9px;
            span.float-right {
              color: #8899a6;
              font-weight: bold;
              font-size: 12px; 
              span.glyphicon {
                margin-right: 4px;
              }
            }
          }
          a .interest {
            &:hover {
              text-decoration: none;
              color: #337ab7;
            }
          }
        }
      }
    }
  }
}

// smallSummary styles
.smallSummary {
  height: 30%;
  min-height: 300px;
  width: 20%;
  border-left: 1px solid rgba(0, 132, 180, 0.5);
  border-bottom: 1px solid rgba(0, 132, 180, 0.5);
  border-radius: 4px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  -webkit-box-shadow: -1px 2px 12px 0px rgba(122,122,122,1);
  -moz-box-shadow: -1px 2px 12px 0px rgba(122,122,122,1);
  box-shadow: -1px 2px 12px 0px rgba(122,122,122,1);
  text-align: center;
  padding-top: 15px;
  img {
    width: 150px;
    height: 150px;
    border:2px solid white;
    border-radius: 5px;
  }
  p.followersAndPosts {
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
  }
}

#population {
  position: fixed;
  top: 4px;;
  left: 4px;
  z-index: 100;
}
.population-list {
  z-index: 1;
  height: 100%;
  width: 15%;
  border-right: 1px solid #aaa;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #C0DEED;
  overflow-y: auto;
  -webkit-box-shadow: 4px 10px 23px -5px rgba(125,125,125,1);
  -moz-box-shadow: 4px 10px 23px -5px rgba(125,125,125,1);
  box-shadow: 4px 10px 23px -5px rgba(125,125,125,1);
  li {
    margin-top: 4px;
    border: 2px solid white; //#e1e8ed;
    border-radius: 5px;
    background-color: white;
    list-style: none;
    padding: 5px;
    &:hover {
      background-color: #f5f8fa;
    }
    span.float-right {
      color: #8899a6;
      font-weight: bold;
      font-size: 12px; 
      span.glyphicon {
        margin-right: 4px;
      }
    }
  }
}


// global utility classes
.caps {
  text-transform: uppercase;
}
.center-text {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.m-top {
  margin-top: 10px;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.positive {
  background-color: #87DDAB !important;
  &:hover {
    background-color: darken(#87DDAB, 15%) !important;
  }
}
.neutral {
  background-color: #ccc !important;
  &:hover {
    background-color: darken(#ccc, 15%) !important;
  }
}
.negative {
  background-color: #d48a8a !important;
  &:hover {
    background-color: darken(#d48a8a, 15%) !important;
  }
}
