// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* default blah from linkurious */
body {
  color: #333;
  font-size: 14px;
  font-family: sans-serif;
}
#graph-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 position: absolute;
margin: 20px;
}
#control-pane {
  top: 10px;
  /*bottom: 10px;*/
  right: 10px;
  position: absolute;
  width: 230px;
  background-color: rgb(249, 247, 237);
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
#control-pane > div {
  margin: 10px;
  overflow-x: auto;
}
.line {
  clear: both;
  display: block;
  width: 100%;
  margin: 0;
  padding: 12px 0 0 0;
  border-bottom: 1px solid #aac789;
  background: transparent;
}
h2, h3, h4 {
  padding: 0;
  font-variant: small-caps;
}
.green {
  color: #437356;
}
h2.underline {
  color: #437356;
  background: #f4f0e4;
  margin: 0;
  border-radius: 2px;
  padding: 8px 12px;
  font-weight: 700;
}
.hidden {
  display: none;
  visibility: hidden;
}

input[type=range] {
  width: 160px;
}


// styles for the personModal
#personModal {
  .modal-dialog {
    .modal-header {
      text-align: center;
    }
    .modal-body {
      .basicInfo {
        height: 250px;
        .picHolder {
          margin-left: 14px;
          margin-right: 14px;
          float: right;
          width: 220px;
          img {
            border-radius: 5px;
            border: 1px solid #aaa;
            height: 200px;
            width: 200px;
            margin-left: 13px;
          }
          .favs, .posts, .followers {
            float: left;
            width: 33%;
            color: #8c9ca9;
          }
        }
        p.summary {
          color: #555;
        }
      }
      .details {
        #posts {
          max-height: 200px;
          overflow-y: auto;
          overflow-x: hidden;
        }
        .tab-pane {
          border: 1px solid #ddd;
          border-top: 0;
          .post {
            padding: 10px;
            &:hover {
              background-color: #f5f8fa;
            }
            p {
              margin-bottom: 0;
            }
            p.date {
              color: #8899a6;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .interest, .taxonomy {
            padding: 4px 6px;
            margin-left: 5px;
            background-color: #ACD1EB;
            border-radius: 3px;
            border: 1px solid #174566;
            line-height: 3.3em;
          }
        }
      }
    }
  }
}

// smallSummary styles
.smallSummary {
  height: 30%;
  min-height: 300px;
  width: 20%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 4px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #eee;
  -webkit-box-shadow: -1px 2px 12px 0px rgba(122,122,122,1);
  -moz-box-shadow: -1px 2px 12px 0px rgba(122,122,122,1);
  box-shadow: -1px 2px 12px 0px rgba(122,122,122,1);
}


// global utility classes
.caps {
  text-transform: uppercase;
}
.center-text {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.m-top {
  margin-top: 10px;
}
